body {
  @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
  font-family: "Roboto", sans-serif;
  min-width: 320px;
}
.container {
  padding: 0 15px;
}
.header {
  position: relative;
}

// header top
.header-black {
  background-color: #000;
  color: #fff;
  display: none;
}
.nav-top {
  display: flex;
  justify-content: space-between;
  height: 38px;
  align-items: center;
  &__left {
    display: flex;
    gap: 30px;
  }
  &__right {
    display: flex;
    gap: 30px;
  }
  &__right__phone {
    display: flex;
    gap: 11px;
  }
  &__right__delivery {
    display: flex;
    gap: 11px;
  }
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 0 16px 0;
  &__left {
    display: flex;
    align-items: center;
    gap: 25px;
  }
  &__right {
    display: flex;
    gap: 30px;
    &__delivery {
      display: none;
      gap: 10px;
    }
  }
}
.header-form {
  display: flex;
  position: relative;
  height: 40px;
  background-color: #f9f9f9;
  .header-input {
    padding-left: 49px;
  }
  & img {
    position: absolute;
    left: 15px;
    bottom: 13px;
  }
}
.header-form-top {
  display: none;
}
// slider
.slick-track {
  display: flex;
  margin-top: 15px;
  column-gap: 15px;
  overflow: hidden;
}
.slick-list {
  overflow: hidden;
}

.slick-slide {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;

  .slider__item__img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    box-shadow: 0px 2px 4px 0px #00000012;
  }
}
// furniture-sections
.furniture-sections {
  display: none;
  box-shadow: 0px 2px 4px 0px #00000012;
  align-items: center;
  justify-content: space-between;
  padding: 25px 25px;
  &__item {
    display: flex;
    column-gap: 10px;
    align-items: center;
  }
  &__promotion-text {
    color: #d74444;
  }
}

// hidden menu

.hidden-menu {
  display: block;
  background-color: #fff;
  width: 227px;
  padding: 21px 15px 15px 26px;
  position: absolute;
  top: 0px;
  left: -230px;
  transition: transform 0.6s;
  z-index: 30;
  & a {
    color: black;
  }
  &__top {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    font-size: 13px;
    font-weight: 500;
  }
  .category-title {
    margin-top: 19px;
    margin-bottom: 19px;
  }
}
.hidden-menu__link {
  display: flex;
  gap: 20px;
  padding: 16px 0;
}
// класс для вызова скрытого меню (по кнопке)
.hidden-menu-open {
  transform: translateX(100%);
}

// main
.mobile-title {
  display: flex;
  position: relative;
  margin-top: 20px;
  &__text {
    background: #f4f4f4;
    flex: 30%;
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}

.box-img {
  flex: 70%;
}
.qwe {
  font-size: 16px;
  font-weight: 500;
}
.ewq {
  font-size: 10px;
}
.asd {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
//  слайдер при разрешении больше 768пикс. под хедером
.slider2.slick-initialized.slick-slider {
  position: relative;
}
.slider2 .slick-arrow {
  display: none;
  position: absolute;
  top: 50%;
  z-index: 15;
  font-size: 0;
}
.slider2 .slick-arrow.slick-prev {
  background-color: #c1c1c1;
  background-image: url("../image/left-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  right: 45px;
  top: 224px;
}
.slider2 .slick-arrow.slick-next {
  background-color: rgb(255, 255, 255);
  background-image: url("../image/arrow-right-2-svgrepo-com.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  right: 15px;
  top: 224px;
}
.slider2 .slick-track {
  display: none;
  position: relative;
}
.slider2 .slick-list {
}
.slider2__item {
  height: 253px;
  position: relative;
  background-color: #1c1c1c70;
}
.slider2__circles {
  position: absolute;
  right: 76px;
  top: -6px;
}
.circle {
  height: 250px;
  width: 250px;
  background-color: #444444;
  position: absolute;
  top: 11px;
  right: 26px;
  border-radius: 50%;
}
.border__circle {
  position: absolute;
  right: 1px;
  top: -12px;
  height: 300px;
  width: 300px;
  border: 110px solid #636363;
  border-radius: 50%;
}

.lampa {
  position: absolute;
  top: 0px;
  right: 0px;
}
.slider2__text {
  position: absolute;
  left: 16px;
  top: 88px;
  font-size: 24px;
  font-weight: 700;
  color: white;
}
.sofa {
  position: absolute;
  right: 0px;
  max-width: 1140px;
}
.slider2__btn {
  font-size: 12px;
  background-color: #fff;
  padding: 13px 14px;
  position: absolute;
  bottom: -54px;
  color: #000;
  font-weight: 400;
}
// bestsellers
.bestsellers-title {
  font-size: 16px;
  font-weight: 500;
  margin-top: 21px;
}
.bestsellers-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  column-gap: 15px;
  row-gap: 20px;
}
.bestsellers-card {
  min-width: 138px;
  min-height: 169px;
  margin-top: 15px;
  & img {
    padding-top: 25px;
    min-width: 95px;
    min-height: 72px;
  }
  &__name {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 3.8px;
    margin-top: 25px;
  }
  &__object {
    font-size: 10px;
    font-weight: 400;
    margin-bottom: 2.5px;
  }
  &__price {
    font-size: 13px;
    font-weight: 500;
    margin-right: 5px;
    display: inline-block;
  }
  &__old-price {
    font-size: 10px;
    color: #cccccc;
    text-decoration: line-through;
  }
}

// footer
.footer {
  box-shadow: 0px -4px 10px 0px #00000008;
}
.footer-mobile__inst {
  display: flex;
  column-gap: 5px;
  font-size: 10px;
}
.footer-mobile {
  &__phone {
    display: flex;
    column-gap: 5px;
    font-size: 10px;
    font-weight: 400;
    margin-bottom: 12px;
    justify-content: end;
  }
  &__email {
    justify-content: end;
    display: flex;
    column-gap: 5px;
    font-size: 10px;
    font-weight: 400;
  }
}
.footer-mobile {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 22px;
  align-items: flex-end;
  &__logo {
    font-size: 36px;
    font-weight: 700;
    line-height: 41px;
    margin-bottom: 37px;
    padding-top: 14px;
  }
  &__addres {
    padding-bottom: 16px;
    font-size: 10px;
    font-weight: 400;

    text-align: right;
    margin-bottom: 7px;
    padding-top: 14px;
  }
}
.footer-mobile__right {
  justify-self: flex-end;
  text-align: right;
}
@import "min768.scss";
@import "min1140.scss";
